# backend

Cython

## api.py

flask
flask-limiter

## get_notif.py

adbutils

## processing.py

python-dotenv-vault
python-dotenv
openai

# integration

## test.py

google-api-python-client
google-auth-httplib2
google-auth-oauthlib
